MONGO_USERNAME=sig_test
MONGO_HOST=cluster0.rrvhdpu.mongodb.net
MONGO_DB_PASSWORD=
MONGO_DATABASE=Urbanisme_test_0508
MONGO_COLLECTION=Documents
MONGO_VECTOR_INDEX=vector_index_test_0508

GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile

EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

REQUEST_TIMEOUT=30
VERIFY_SSL=true
LOG_LEVEL=INFO
